body {
  font-family: Arial, Helvetica, sans-serif;
}

ul #nav {
  list-style-type: none;
}

li a {
  display: block;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
}
